<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Contato</title> <link rel="website icon" type="svg" href="../public/img/logo.svg">


    <link rel="stylesheet" href="../public/css/contato.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap">
</head>
<body>

    <header>
        <div class="container">
            <img src="../public/img/logo.svg" alt="Musicaller.ia">
            <nav>
                <a href="../views/index.html">Inicio</a>
                <a href="../views/cursos.html">Cursos</a>
                <a href="#">Eventos</a>
                <a href="../views/contato.html">Contato</a>
            </nav>
            <a href="#" class="button mt-1 mb-1 mx-auto">Inscreva-se</a>
        </div>
    </header>

    <main>
        <section class="Texto-section">
            <div class="Texto">
                <h1><span>Contato</span></h1>
                <p>Aqui estão os contatos dos desemvolvedores envolvidos no projeto...</p>
            </div>
        </section>

        <section class="content">
            <div class="cards">
                <article class="card">
                    <img src="../public/img/perfil.png" alt="Imagem do curso" class="card-image">
                    <div class="inside">
                        <strong>Nome do desenvolvedor</strong>
                        <div class="info">
                            <img src="../public/img/email.png" alt="Ícone do email">
                            <a href="#">desenvolvedor_contato-pessoal@email.com</a>                            
                        </div>
                        <div class="info">
                            <img src="../public/img/github.png" alt="Ícone do github">
                            <a href="#">github/do/desenvolvedor</a>
                        </div>                    
                        <p>Comentário sobre o projeto, um pouco sobre si e seu trabalho.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>                                        
                </article>

                <article class="card">
                    <img src="../public/img/perfil.png" alt="Imagem do curso" class="card-image">
                    <div class="inside">
                        <strong>Nome do desenvolvedor</strong>
                        <div class="info">
                            <img src="../public/img/email.png" alt="Ícone do email">
                            <a href="#">desenvolvedor_contato-pessoal@email.com</a>                            
                        </div>
                        <div class="info">
                            <img src="../public/img/github.png" alt="Ícone do github">
                            <a href="#">github/do/desenvolvedor</a>
                        </div>                    
                        <p>Comentário sobre o projeto, um pouco sobre si e seu trabalho.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>                                        
                </article>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <div class="about-column">
                <img src="../public/img/logo.svg" alt="Musicaller.ia" class="mt-1 mb-1">
                <p class="mb-2">
                    Todos os direitos são reservado à Lucas Leria, confira o 
                        <a  class="text-primary" href="https://github.com/lucasgleria/Musicaller.ia/blob/main/README.md">readme</a> e a 
                        <a class="text-primary" href="https://github.com/lucasgleria/Musicaller.ia/blob/main/LICENSE">licença</a> desse projeto.
                        <br>
                        <br>
                        Maiores informações disponíveis no repositório
                        <a class="text-primary" href="https://github.com/lucasgleria/Musicaller.ia">github</a> indicado.
                </p>
            </div>

            <nav class="mb-2">
                <a href="../views/index.html">Inicio</a>
                <a href="../views/cursos.html">Cursos</a>
                <a href="#">Eventos</a>
                <a href="../views/contato.html">Contato</a>
            </nav>

            <form class="newsletter-form ">
                <label for="email" class="mb-1">Receba materiais gratuitos no seu email</label>
                <input type="text" name="email" id="email" class="mb-1" placeholder="Digite o seu email">
                <button class="button mb-2 ">Quero receber</button>
            </form>
        </div>
    </footer>
    
</body>
</html>