<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Cursos</title> <link rel="website icon" type="svg" href="../public/img/logo.svg">


    <link rel="stylesheet" href="../public/css/cursos.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap">
</head>
<body>

    <header>
        <div class="container">
            <img src="../public/img/logo.svg" alt="Musicaller.ia">
            <nav>
                <a href="../views/index.html">Inicio</a>
                <a href="../views/cursos.html">Cursos</a>
                <a href="../views/eventos.html">Eventos</a>
                <a href="../views/contato.html">Contato</a>
            </nav>
            <a href="#" class="button mt-1 mb-1 mx-auto">Inscreva-se</a>
        </div>
    </header>

    <main>
        <section class="carrossel-section">       
            
            <button class="arrow-left control" aria-label="Previous image"></button>
            <button class="arrow-right control" aria-label="Next image"></button>

            <div class="container-c">
                <div class="carrossel-wrapper">
                    <div class="carrossel">

                        <article  class="f1 carr item current-item">
                            <h1 class="mb-1">Título do Curso</h1>
                            <p class="mb-2">Texto explicando o curso e o conteúdo...Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <a href="#" class="button-carrossel">Ver</a>
                        </article>

                        <article  class="f2 carr item">
                            <h1 class="mb-1">Título do Curso</h1>
                            <p class="mb-2">Texto explicando o curso e o conteúdo...Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <a href="#" class="button-carrossel">Ver</a>
                        </article>

                        <article  class="f3 carr item">
                            <h1 class="mb-1">Título do Curso</h1>
                            <p class="mb-2">Texto explicando o curso e o conteúdo...Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <a href="#" class="button-carrossel">Ver</a>
                        </article>

                    </div>
                </div>
            </div>
        </section>

        <section class="Texto-section">
            <div class="Texto">
                <h1><span>Cursos</span></h1>
                <br>
                <p>Aqui você encontra os cursos disponíveis...Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>

        </section>

        <section class="cards-section">
            <div class="cards">
                <article class="card">
                    <img src="../public/img/capa-1.jpg" alt="Imagem do curso" class="card-image">
                    <strong>Título do Curso 1</strong>
                    <p>Descrição e informações coerentes a respeito do curso represetado pelo card aqui presente.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <a href="#" class="button-card">Ver</a>
                </article>

                <article class="card">
                    <img src="../public/img/capa-2.jpg" alt="Imagem do curso" class="card-image">
                    <strong>Título do Curso 2</strong>
                    <p>Descrição e informações coerentes a respeito do curso represetado pelo card aqui presente.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <a href="#" class="button-card">Ver</a>
                </article>

                <article class="card">
                    <img src="../public/img/capa-3.jpg" alt="Imagem do curso" class="card-image">
                    <strong>Título do Curso 3</strong>
                    <p>Descrição e informações coerentes a respeito do curso represetado pelo card aqui presente.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <a href="#" class="button-card">Ver</a>
                </article>

                <article class="card">
                    <img src="../public/img/capa-4.jpg" alt="Imagem do curso" class="card-image">
                    <strong>Título do Curso 4</strong>
                    <p>Descrição e informações coerentes a respeito do curso represetado pelo card aqui presente.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <a href="#" class="button-card">Ver</a>
                </article>

                <article class="card">
                    <img src="../public/img/capa-5.jpg" alt="Imagem do curso" class="card-image">
                    <strong>Título do Curso 5</strong>
                    <p>Descrição e informações coerentes a respeito do curso represetado pelo card aqui presente.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <a href="#" class="button-card">Ver</a>
                </article>
            </div>
        </section>

        
        
    </main>

    <footer>
        <div class="container">
            <div class="about-column">
                <img src="../public/img/logo.svg" alt="Musicaller.ia" class="mt-1 mb-1">
                <p class="mb-2">
                    Todos os direitos são reservado à Lucas Leria, confira o 
                        <a  class="text-primary" href="https://github.com/lucasgleria/Musicaller.ia/blob/main/README.md">readme</a> e a 
                        <a class="text-primary" href="https://github.com/lucasgleria/Musicaller.ia/blob/main/LICENSE">licença</a> desse projeto.
                        <br>
                        <br>
                        Maiores informações disponíveis no repositório
                        <a class="text-primary" href="https://github.com/lucasgleria/Musicaller.ia">github</a> indicado.
                </p>
            </div>

            <nav class="mb-2">
                <a href="../views/index.html">Inicio</a>
                <a href="../views/cursos.html">Cursos</a>
                <a href="../views/eventos.html">Eventos</a>
                <a href="../views/contato.html">Contato</a>
            </nav>

            <form class="newsletter-form ">
                <label for="email" class="mb-1">Receba materiais gratuitos no seu email</label>
                <input type="email" name="email" id="email" class="mb-1" placeholder="Digite o seu email">
                <button class="button mb-2 ">Quero receber</button>
            </form>
        </div>
    </footer>
    
    <!------------------------------------JS------------------------------------------------->
    <script src="../public/js/cursos.js"></script>

</body>
</html>