<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
        <title>Musicaller.ia</title> <link rel="website icon" type="svg" href="../public/img/logo.svg">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="../public/css/eventos.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap">
</head>
<body>
    
    <header>
        <div class="container">
            <img src="../public/img/logo.svg" alt="Musicaller.ia">
            <nav>
                <a href="../views/index.html">Inicio</a>
                <a href="../views/cursos.html">Cursos</a>
                <a href="../views/eventos.html">Eventos</a>
                <a href="../views/contato.html">Contato</a>
            </nav>
            <a href="#" class="button mt-1 mb-1 mx-auto">Inscreva-se</a>
        </div>
    </header>

    <main>
        <section class="hero-section">


            <article>
                <h1 class="mt-2">
                    <span class="text-primary decoration"> Novo Evento! </span>
                </h1>
                <section class="main-card">
                <div class="text-content">
                    <h3>Aula de Teoria Musical!</h3>
                    <p>Fique de olho, porque teremos uma live de Teoria Musical em breve nas nossas redes sociais e canais.
                        <br>
                        <br>
                        31/02/2024
                    </p>
                    <a href="#">QUERO PARTICIPAR</a>
                </div>
                <div class="visual">
                    <img src="https://img.freepik.com/fotos-premium/aprendendo-a-tocar-violao-foto-vertical-close-up-de-guitarras-acusticas-e-ukulele-deitado-no-chao-de-madeira-com-notas-musicais-vista-do-topo-equipamento-de-musica-loja-de-musica-instrumentos-musicais_386167-3534.jpg?w=2000" alt="" />
                </div>
                </section> 
            </article>

        
        </section>
        
        <section class="courses-section">
                    <h1 class="mt-2" style="text-align: center;">
                        Veja nossos <span class="text-primary decoration"> eventos anteriores </span> 
                    </h1>
            <div class="container-c">
                        
                        <div class="slider carrossel-wrapper" style="padding-top: 50px;">
                            <div class="slider_content carrossel">
                                <div class="slider_item carr item current-item">
                                    <img class="slider_image" src="../public/img/capa-1.jpg" alt="Image">
                                        <div class="slider_info">
                                            <h2>Aprendendo I'm Yours no Violão!</h2>
                                        </div>
                                </div>
                                <div class="slider_item carr item">
                                    <img class="slider_image" src="../public/img/capa-2.jpg" alt="Image">
                                        <div class="slider_info">
                                            <h2>Canta com Musicalleria, descobrindo novas estrelas?</h2>
                                        </div>
                                </div>
                                <div class="slider_item carr item">
                                    <img class="slider_image" src="../public/img/capa-3.jpg" alt="Image">
                                        <div class="slider_info">
                                            <h2>Aprendendo a ler partituras do nível iniciante ao profissional.</h2>
                                        </div>
                                </div>
                                <div class="slider_item carr item">
                                    <img class="slider_image" src="../public/img/capa-4.jpg" alt="Image">
                                        <div class="slider_info">
                                            <h2>Projeto: Liberte sua voz - Aprenda a cantar.</h2>
                                        </div>
                                </div>
                                <div class="slider_item carr item">
                                    <img class="slider_image" src="../public/img/capa-5.jpg" alt="Image">
                                        <div class="slider_info">
                                            <h2>Card 5</h2>
                                        </div>
                                </div>
                                <div class="slider_item carr item">
                                    <img class="slider_image" src="../public/img/capa-6.jpg" alt="Image">
                                        <div class="slider_info">
                                            <h2>Card 6</h2>
                                        </div>
                                </div>
                            </div>
                        </div>
            </div>        

           
                <div class="slider_nav" style="display: flex;justify-content: center;">
                    <button class="slider_nav_button arrow-left control">Anterior</button>
                    <button class="slider_nav_button arrow-right control">Próximo</button>
                </div>
                

        </section>
    </main>

    <footer>
        <div class="container">
            <div class="about-column">
                <img src="../public/img/logo.svg" alt="Musicaller.ia" class="mt-1 mb-1">
                <p class="mb-2">
                    Todos os direitos são reservado à Lucas Leria, confira o 
                        <a  class="text-primary" href="https://github.com/lucasgleria/Musicaller.ia/blob/main/README.md">readme</a> e a 
                        <a class="text-primary" href="https://github.com/lucasgleria/Musicaller.ia/blob/main/LICENSE">licença</a> desse projeto.
                        <br>
                        <br>
                        Maiores informações disponíveis no repositório
                        <a class="text-primary" href="https://github.com/lucasgleria/Musicaller.ia">github</a> indicado.
                </p>
            </div>

            <nav class="mb-2">
                <a href="../views/index.html">Inicio</a>
                <a href="../views/cursos.html">Cursos</a>
                <a href="../views/eventos.html">Eventos</a>
                <a href="../views/contato.html">Contato</a>
            </nav>

            <form class="newsletter-form ">
                <label for="email" class="mb-1">Receba materiais gratuitos no seu email</label>
                <input type="email" name="email" id="email" class="mb-1" placeholder="Digite o seu email">
                <button class="button mb-2 ">Quero receber</button>
            </form>
        </div>
    </footer>

    <!-- JS -->
    <script src="../public/js/eventos.js"></script>

</body>
</html>