<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
        <title>Musicaller.ia</title> <link rel="website icon" type="svg" href="../public/img/logo.svg">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="../public/css/index.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap">
</head>
<body>
    
    <header>
        <div class="container">
            <img src="../public/img/logo.svg" alt="Musicaller.ia">
            <nav>
                <a href="#">Inicio</a>
                <a href="#">Cursos</a>
                <a href="#">Eventos</a>
                <a href="#">Contato</a>
            </nav>
            <a href="#" class="button mt-1 mb-1 mx-auto">Inscreva-se</a>
        </div>
    </header>

    <main>
        <section class="hero-section">
            <div class="container row-reverse">
                <img src="../public/img/hero-img.svg" alt="Banda de Jazz tocando">
                <div>
                    <h1 class="mt-2">
                        Crie algo <span class="text-primary decoration"> Impactante </span> com música
                    </h1>
                    
                    <p class="mt-2 mb-2">
                        Bem-vindo ao <span class="text-primary">Musicaller.ia</span>! 
                    </p>
                    <p class="mt-2 mb-2">
                        Esse é um dos meus projetos de Desenvolvimento Web utilizando as tecnologias Html5, Css3, Javascript, Node.js.
                    </p>
                    <a href="#" class="button">Comece agora</a>
                </div>
            </div>
        </section>
        
        <section class="courses-section">

            <div class="cards">
                <article class="card">
                    <img src="../public/img/piano.png" alt="ícone de teclas de piano">
                    <strong>
                        Piano popular
                    </strong>
                    <p>
                        Novas aulas de piano, gravadas e ao vivo, disponíveis todos os sábados!
                    </p>
                        <br>
                        <br>
                    <p>
                        Clique abaixo e confira as partituras e exercícios disponíveis.
                    </p>
                    <a href="#">
                        <img src="../public/img/arrow-right.svg" alt="Ir para página do curso">
                    </a>
                </article>

                <article class="card">
                    <img src="../public/img/clef.png" alt="ícone de clave de sol">
                    <strong>
                        Teoria musical
                    </strong>
                    <p>
                        Cansou de tentar aprender a teoria musical da forma convencional e cansativa?
                    </p>
                        <br>
                        <br>
                    <p>
                        Nossos professores tem métodos didáticos que facilitam muito a compreensão e aprendizado, confira.
                    </p>
                    <a href="#">
                        <img src="../public/img/arrow-right.svg" alt="Ir para página do curso">
                    </a>
                </article>

                <article class="card">
                    <img src="../public/img/guita.png" alt="ícone de violão">
                    <strong>
                        Violão
                    </strong>
                    <p>
                        Venha participar das aulas do instrumento mais querido dos nossos desenvolvedores!
                    </p>
                        <br>
                        <br>
                    <p>
                        Se torne o convidado favorito de toda festa e domine o violão em poucas horas.
                    </p>
                    <a href="#">
                        <img src="../public/img/arrow-right.svg" alt="Ir para página do curso">
                    </a>
                </article>

                <article class="card">
                    <img src="../public/img/drums.png" alt="ícone de teclas de bateria">
                    <strong>
                        Bateria
                    </strong>
                    <p>
                        Planejando aquela banda com os amigos, mas ninguém toca percursão?
                    </p>
                        <br>
                        <br>
                    <p>
                        Inscreva-se no curso de bateria e leve sua banda para outro nível!
                    </p>
                    <a href="#">
                        <img src="../public/img/arrow-right.svg" alt="Ir para página do curso">
                    </a>
                </article>
            </div>
            
            <h2 class="text-center">
                E <span class="text-primary">vários</span> outros!
            </h2>
            <a href="#" class="button mt-2 mx-auto">Conhecer Cursos</a>

        </section>
    </main>

    <footer>
        <div class="container">
            <div class="about-column">
                <img src="../public/img/logo.svg" alt="Musicaller.ia" class="mt-1 mb-1">
                <p class="mb-2">
                    Todos os direitos são reservado à Lucas Leria, confira o 
                        <a  class="text-primary" href="https://github.com/lucasgleria/Musicaller.ia/blob/main/README.md">readme</a> e a 
                        <a class="text-primary" href="https://github.com/lucasgleria/Musicaller.ia/blob/main/LICENSE">licença</a> desse projeto.
                        <br>
                        <br>
                        Maiores informações disponíveis no repositório
                        <a class="text-primary" href="https://github.com/lucasgleria/Musicaller.ia">github</a> indicado.
                </p>
            </div>

            <nav class="mb-2">
                <a href="#">Inicio</a>
                <a href="#">Cursos</a>
                <a href="#">Eventos</a>
                <a href="#">Contato</a>
            </nav>

            <form class="newsletter-form ">
                <label for="email" class="mb-1">Receba materiais gratuitos no seu email</label>
                <input type="text" name="email" id="email" class="mb-1" placeholder="Digite o seu email">
                <button class="button mb-2 ">Quero receber</button>
            </form>
        </div>
    </footer>

</body>
</html>