/* General */

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #ED4D1B;
    --color-secondary: #FF9A3C;
    --color-black: #000 ;
    --color-white: #FFF ;
}

body {
    background: linear-gradient(90deg, #FFE7D1 0%, #FFF2E6 100%);
    padding: 0 1rem;
}

header,.Texto-section,
.carrossel-section,
.cards-section,
footer {
    border-color: var(--color-black);
    border-style: solid;
    border-width: 0 1px 1px 1px;
    padding: 1.25rem;
}

/*------------carrossel--------------------------------------------------*/
.container-c{
    position: relative;
    max-width: 1040px;
    margin: 0 auto;
}

.carrossel-wrapper{
    overflow-x: auto;
}

.carrossel{
    display: flex;
    flex-flow: row nowrap;
}

.arrow-left,
.arrow-right {
    position: absolute;
    margin-top: 12.5rem;
    margin-left: -10px;
    font-size: 30px;
    width: 44px;
    height: 45px;
    text-align: center;
    color: #000;
    cursor: pointer;   
    border: none;
    border-radius: 100px;
    z-index: 1;
    opacity: 0.1;
    transition: all 200ms ease-in-out;
}

.arrow-right {
    left: auto;
    right: 0;
    margin-right: 10px;
}

.arrow-right:hover,
.arrow-left:hover {
    opacity: 1;
    background-color: #ED4D1B;
    box-shadow: 2px 2px 0 var(--color-black);
}

.item {
    opacity: 0;
    transition: all 600ms ease-in-out;
}

.current-item {
    opacity: 1;
}

/*//////////////////////////Esconder a scrollbar///////////////////////////*/
.carrossel-wrapper::-webkit-scrollbar {
    display: none;
}

.carrossel-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
/*/////////////////////////////////////////////////////////////////////////*/

.carr{    
    min-width: 10rem;
    margin: 2rem 1rem 2rem 1rem;
    padding: 4rem 4rem 3rem 4rem;    
    border: 2px solid var(--color-black);
    box-shadow: 4px 4px 0 var(--color-black);
    color: var(--color-black);
    box-sizing: unset;
}

.f1{
    background-image: url(../img/fundo-1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.f2{
    background-image: url(../img/fundo-2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.f3{
    background-image: url(../img/fundo-3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
/*---------------------------------------------------------------------------*/
.Texto{
    margin: 1rem 2rem 6rem 2rem;
}

h1 {
    font-size: 3rem;
    line-height: 105%;
}

span{
    color: var(--color-primary);
    text-shadow: 3px 3px 0 var(--color-black);
}

header nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem auto 0;
}

nav a {
    color: var(--color-black);
    font-size: 1.25rem;
    padding: .5rem;
    text-decoration: none;
}

header nav a:nth-child(2n-1) {/* Pegando todos os elementos pares e alinhando À direita */
    text-align: right;
}

.button {
    background-color: var(--color-primary);
    border: 2px solid var(--color-black);
    box-shadow: 4px 4px 0 var(--color-black);
    color: var(--color-black);
    display: block;
    font-size: 1.25rem;
    padding: .75rem 1rem;
    max-width: 14rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.button:hover {
    background-color: var(--color-secondary);
    border: 2px solid var(--color-black);
    box-shadow: 4px 4px 0 var(--color-black);
    color: var(--color-black);
    display: block;
    font-size: 1.25rem;
    padding: .75rem 1rem;
    max-width: 14rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: 400ms all;
}

.button-carrossel{
    border: 2px solid var(--color-black);
    color: var(--color-black);
    display: block;
    font-size: 1.25rem;
    padding: .75rem 1rem;
    max-width: 14rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: auto;
    margin-top: 4rem;
}

.button-card{
    border: 2px solid var(--color-black);
    color: var(--color-black);
    display: block;
    font-size: 1.25rem;
    padding: .75rem 1rem;
    max-width: 14rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.25rem;
    margin-top: -5rem;
    margin-bottom: 4rem;
}

.card {
    background-color: var(--color-primary);
    border: 2px solid var(--color-black);
    box-shadow: 4px 4px 0 var(--color-black);
    max-width: 20rem;
    flex-direction: row;
    justify-content: center;
}

.card:nth-child(2n) {
    align-self: end;
    background-color: var(--color-secondary);
}

.card strong {
    display: block;
    font-size: 1.5rem;
    margin: 2rem 2rem 2rem 2rem;
}

.card-image{
    max-width: 19.8rem;
    max-height: 19.8rem;
    position: relative;
}

.card p{
    margin: 0 2rem 2rem 2rem;
}

.card a {
    display: block;
    margin: 2rem auto 2rem auto;
}


/* Rodapé */


footer {
    border-bottom: 0;
    padding: 1rem 1.25rem 4rem;
}

footer nav a {
    display: block;
    padding-left: 0;

}

.newsletter-form label {
    display: block;
    font-size: 1.5rem;
}

.newsletter-form input {
    border: 2px solid var(--color-black);
    box-shadow: 4px 4px 0 var(--color-black);
    font-size: 1.5rem;
    padding: .5rem;
    width: 100%;
}

/* Utils */

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-primary {
    color: var(--color-primary);
    text-decoration: none;
}

.text-center {
    text-align: center;
}

/* Responsividade */

@media screen and (min-width: 29rem) {
    .carr{
        
        min-width: 22rem;
     }

     .arrow-left {
        margin-left: 0;
    }

    .arrow-right {
        margin-right: 30px;
    }
    
}

@media screen and (min-width: 40rem) {
    header nav {
        display: block;
        text-align: center;
    }

    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .carr{
        
        min-width: 30rem;
     }
}

@media screen and (min-width: 48rem) {
    header div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header img,
    header nac,
    header .button {
        margin: 0;
    }

    .carr{
        
        min-width: 40rem;
     }
}

@media screen and (min-width: 63rem) {
    .carr{
        
    min-width: 50rem;
    }
}

@media screen and (min-width: 90rem) {
    
    h1,
    h2 {
        font-size: 4rem;
    }

    
    .container {
        display: flex;
        align-items: center;
        margin: 0 auto;
        max-width: 90rem;
        /* Passando de 72rem, para de expandir */
    }

    .container.row-reverse {
        flex-direction: row-reverse;
    }

    .about-column {
        flex: 2;
    }

    .about-column p {
        font-size: 1.25rem;
        max-width: 16rem;
    }

    footer nav {
        flex: 1;
    }

    .newsletter-form {
        flex: 3;
    }
}

@media screen and (min-width: 80rem) {
    .container {
        max-width: 80rem;
    }
    
}

@media screen and (min-width: 100rem) {
    .arrow-left {
        margin-left: 400px;
    }

    .arrow-right {
        margin-right: 430px;
    }
    
}